<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="center.control.system.vash.controlcenter">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.ControlMonitorService"
            android:enabled="true" />
        <service
            android:name=".service.WebServerService"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".panel.ControlPanel"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".panel.ModePanel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingPanel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".panel.VAPanel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".device.ManageDeviceActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".panel.UserSettingPanel" />
        <activity android:name=".PersonalInfoActivity"></activity>
        <activity android:name=".nlp.TrainVAActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".configuration.ConfigurationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".trigger.MapDeviceTriggerActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>